.calculator {
  margin: auto;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  top: 120px;
  border-radius: 10px;
}
.err {
  border: 1.5px double red;
}
h2{
    padding-top: 20px;
}
input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type="reset"] {
  border: none;
  font-size: large;
  font-weight: bold;
  background-color: #3cbc8d;
  color: white;
}
button {
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  height: 40px;
  width: 40%;
  background: #4caf50;
  margin: 1.5%;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
}
button:active {
  background-color: #3e8e41;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}
.clear {
  width: 50%;
}
.center {
  text-align: center;
}
